.Login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
}

.login-txt {
  color: #333;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 4px;
  padding-bottom: 10px;
}
.login-p {
  color: #333;
  font-family: "Mooli", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding-bottom: 12px;
}
.input-login {
  width: 100%;
  padding: 13px 14px;
  border: none;
  background-color: #efecec;
  font-family: "Rubik", sans-serif;
  margin-bottom: 17px;
  box-sizing: border-box;
  color: #000;
  border-radius: 10px;
}
.btn-login {
  width: 100%;
  padding: 13px 14px;
  border: none;
  margin-bottom: 17px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: Open Sans;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
}
.login-box {
  padding: 0 20px;
}
.forgot-pass {
  position: relative;
}
.forgot {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 12px;
  font-weight: 0;
  color: rgb(114, 112, 112);
  font-family: "Mooli", sans-serif;
}
.create-one {
  font-size: 14px;
  font-weight: 0;
  color: rgb(114, 112, 112);
  font-family: "Mooli", sans-serif;
  padding-top: 15px;
}
.create-one > span {
  color: #333;
}
@media (min-width: 540px) {
  .input-login {
    width: 400px;
  }
  .Login {
    align-items: center;
  }
  .login-box {
    padding: 0;
  }
}
