.Cart {
  background-color: #ededed;
  /* height: 85vh; */
  position: relative;
}
.cart-sum {
  color: #555;
  font-family: "Mooli", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 20px;
}
.sub-total {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.total-h {
  color: #333;
  font-family: "Mooli", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 22.5px;
}
.total-p {
  color: #555;
  font-family: "Mooli", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16.13px;
  letter-spacing: 1px;
}
.total-price {
  color: #333;
  font-family: "Mooli", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
.cart-info {
  background-color: #fff;
  display: flex;
  gap: 14px;
  padding: 10px 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  position: relative;
  align-items: center;
}
.cart-count {
  font-family: "Rubik", sans-serif;
  color: #555;
  font-size: 14px;
}
.cart-image {
  height: 90px;
  width: 80px;
}
.cart-name {
  color: #333;
  font-family: "Mooli", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 150% */
}
.cart-s {
  display: flex;
  align-items: center;
}
.Carts {
  color: #333;
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 149.352% */
  letter-spacing: 1px;
}
.Cart-s {
  color: #222;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 15px; /* 149.352% */
  letter-spacing: 1px;
}
.colorS {
  width:11px;
  height: 11px;
  border-radius: 1000px;
  border: 3px solid lightgray;
}
.cart-price {
  color: #333;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  text-transform: uppercase;
  margin-top: 10px;

}
.btn-plus-minus {
  display: flex;
  gap: 10px;
  /* justify-content: end; */
  position: absolute;
  right: 14px;
  bottom: 14px;
}
.btn-plus-minus > button {
  border: none;
  background-color: #222;
  padding: 4px 7px;
}
.remove-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 2px;
}
.remove-txt {
  color: #333;
  font-family: "Mooli", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.but-cart {
  display: flex;
  gap: 15px;
  justify-content: end;
  position: sticky;
  bottom: 15px;
  padding: 40px 7px;
}
.cart-space {
  margin: 0 10px;
}
.cartColor {
  color: #1c1b1b;
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2.2px;
}
.add-cart {
  width: 250px;
}
.call {
  width: 70px;
}
@media (min-width: 420px) {
  /* .cart-space {
        margin: 0 40px;
    } */
  .cart-info {
    gap: 20px;
    /* justify-content: space-around; */
  }
}
@media (min-width: 540px) {
  .cart-space {
    margin: 0 40px;
  }
  .cart-info {
    gap: 30px;
    margin-bottom: 12px;
    align-items: center;
  }
}
@media (min-width: 620px) {
  .cart-space {
    margin: 0 80px;
  }
  .cart-info {
    gap: 20px;
  }
}
@media (min-width: 767px) {
  .cart-space {
    margin: 0 100px;
  }
}
@media (min-width: 1024px) {
  .cart-space {
    margin: 0 130px;
  }
  .cart-info {
    margin-bottom: 15px;
    padding-left: 20px;
    gap: 30px;
  }
  .sub-total {
    padding: 10px 30px;
  }
}
@media (min-width: 1200px) {
  .cart-space {
    padding: 30px 50px;
  }
}
@media (min-width: 1400px) {
  .cart-space {
    padding: 30px 150px;
  }
}
