.brand-txt {
  color: #333;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 40px 0;
  border-top: 2px solid #ededed;
}
.select-option {
  padding: 12px 0px;
  border: none;
  color: #666;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.func-box {

  border: 1px solid #ededed;
  height: 50px;
}
.func-box > button {
  width: 100%;
  border: 1px solid #ededed;
  height: 57px;
  background-color: white;
  font-family: "Mooli", sans-serif;
  color: #333;
}
.grid-box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 0px 20px;
  border: 1px solid #ededed;
}
.grid-box > img {
  width: 23px;
}
.grid-img {
  width: 100%;
  height: 220px;
}
.display-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 35px;
  padding: 40px 10px;
}
.display-box-NX {
  display: block;
  /* grid-template-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 35px;
  padding: 40px 10px; */
}
/* .litshit {
  display: flex;
  gap: 0px;
} */
.dis-box {
  position: relative;
}
.wish-cart {
  position: absolute;
  right: 20px;
  top: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-w {
  height: 18px;
  display: none;
}
.dis-box:hover .cart-w {
  display: block;
}
/* .dis-box .grid-img {
 height: 290px;
 } */
.dis-box:hover .gridImg > img {
  object-fit: contain;
  transition: 0.3s;
}
.dis-box .gridImg > img:last-child {
  display: none;
  transition: 0.3s;
}
.dis-box:hover .gridImg > img:nth-child(1) {
  display: none;
  transition: 0.3s;
}
.dis-box:hover .gridImg > img:last-child {
  display: block;
  transition: 0.3s;
}
.dis-box > h5 {
  color: #1c1b1b;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.15px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  padding-top: 20px;
}
.dis-box > h6 {
  color: #1c1b1b;
  text-align: center;
  font-family: "Mooli", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}
.dis-box > p {
  color: #dc5a54;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.15px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}
.empty-div {
  display: none;
}
.Link {
  text-decoration: none;
}
.react-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
}
@media (min-width: 540px) {
  .grid-img {
    height: 290px;
  }
  .display-box {
    padding: 40px 20px;
  }
}
@media (min-width: 767px) {
  .grid-img {
    height: 330px;
  }
  .display-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .empty-div {
    display: block;
    width: 100%;
  }
  .func-box {
    flex-direction: row-reverse;
    gap: 0;
  }
  .func-box > button {
    width: 250px;
    justify-content: space-between;
    gap: 0;
  }
  .grid-box {
    padding: 0px 30px;
  }
  .display-box {
    padding: 40px 20px;
  }
}
@media (min-width: 1024px) {
  .display-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 70px;
  }
  .display-box {
    padding: 50px 30px;
  }
}
