.my-row {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  /* margin-left: 100px;
  margin-right: 100px; */
}
/* .orders-orders {
  margin-left: 100px;
  margin-right: 100px;
} */
.my-col {
  /* padding: 1rem;
    border: 1px solid #ddd;  */
}
.orderHead {
  color: #222;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.orderP1 {
  color: #555;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: lowercase;
}
.orderP2 {
  color: #444;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.last-col {
  background-color: whitesmoke;
}
.my-first-row {
  background-color: #333;
  margin-bottom: 30px;
  /* margin-left: 100px;
  margin-right: 100px; */
}
/* .orderHead {
  font-size: 25px;
  font-style: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
} */
.orderP {
  font-size: 15px;
  font-style: "Mooli", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #222;
}
.ordersH {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #222;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  line-height: 60px;
  letter-spacing: 3px;
}
.order-P {
  font-size: 13px;
  font-style: "Mooli", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;
}
.list-style {
  list-style: none;
}
.Rows {
}
.row {
  width: 95%;
  margin: 0 auto;
}
.colo {
  display: none;
}
@media (min-width: 768px) {
  .colo {
    display: block;
  }
  .ordersH {
    font-size: 30px;
    line-height: 80px;
  }
}
